extends index.pug

block content

  h1 #{googleDetails.result.name}

  form#reviewNew(name="addReview" action=`/new-review/${id}` method="get")
    button Add a Review

  h2 Reviews
  each review in reviews
    h4 #{review.review_description}
    h6 by #{review.User.username}

    form#userFollow(name="addReview" action=`/follow-user/${review.User.id}` method="post")
          button follow


