extends index.pug

block content

  h1 #{googleDetails.result.name}

  form#reviewNew(name="addReview" action=`/new-review/${id}` method="get")
    button.abuttons Add a Review

  h2 Reviews
  .review-container
    each review in reviews
      .review-card
        p
          a(href=(`/user/${review.user_id}`)) User: #{review.User.username}
          
        img(src=`${googleDetails.result.restaurantImage}`)
        <br>
        p.
          #{review.review_description}

        form#userFollow(name="addReview" action=`/follow-user/${review.User.id}` method="post")
          button.abuttons follow this user




