extends index.pug

block content

  h1 #{googleDetails.result.name}

  form#reviewNew(name="addReview" action=`/new-review/${id}?name=${googleDetails.result.name}` method="get")
    button Add a Review

  h2 Reviews
  each review in reviews
    h4 #{review.review_description}
    h6 #{review.User.username}


